  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    padding: 10px;
    float: none;
    box-shadow: 5px 5px 5px green;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
.result_object_name span{
  white-space: pre-line;
}
.copy_right_footer{
  background-color: grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  line-height: 3;
}
canvas{
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 175px;
  box-shadow: 5px 5px 5px grey;
}